<section class="choose wrapper">
	<h3><span>Try this</span></h3>
	<div class="bourbon-image">
		Glass of bourbon
	</div>
	<h1><%= @bourbon.name %></h1>
	<div class="bourbon-info">
		<a class="info">info</a>
		<p>
			<%= @bourbon.appearance %>
		</p>
	</div>
	<div class="vote">
		<div class="yes option">
			<%= link_to "Yes", like_bourbon_whiskey_path(@bourbon), method: "post" %>
		</div>
		<div class="no option">
			<%= link_to "No", hate_bourbon_whiskey_path(@bourbon), method: "post" %>
		</div>
		<div class="skip">
			<%= link_to "skip it", root_path %>
		</div>
	</div><!-- /.yes-->

</section>



<section class="wrapper description">
	<h1><%= @bourbon.name %></h1>
		<dl>
<!-- 			<dt class="color">Color</dt>
			<dd>Deep</dd>
 -->
			<dt class="aroma">Aroma</dt>
			<dd><%= @bourbon.aroma_description %></dd>

<!-- 			<dt class="entry">Entry</dt>
			<dd>Butterscotch, vanilla, and toffee notes at the front of the palate, evenually giving way to cinnamon, clove and rum raisin.</dd> -->

			<dt class="finish">Finish</dt>
			<dd><%= @bourbon.finish_description %></dd>

			<dt class="strength">Strength</dt>
			<dd><%= @bourbon.proof %> Proof</dd>
		</dl>
</section>

<section class="wrapper">
	<h1>Try these bourbons</h1>
	<ul>
		<li>Makers Mark</li>
		<li>Jim Beam</li>
		<li>Wild Turkey</li>
	</ul>
	<p>Based on your bourbon profile, which is a <strong>fruity</strong> aroma, 
		<strong>wood</strong> taste and <strong>spice</strong> finish.</p>
</section>